.header {
    background-color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav-link {
    padding: 1.5rem;
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
}

.nav-link:hover {
    border-bottom: 2px solid #3B3B3B;
}